<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>神农集团DEMO</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="referrer" content="no-referrer-when-downgrade" />
	<!--图标-->
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
	<!--布局框架-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<!--主要样式-->
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<div class="login" id="app">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt" data-tilt>
				<img src="img/img-01.png" alt="IMG">
			</div>

			<div class="login100-form validate-form">
				<span class="login100-form-title">
					用户登陆
				</span>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="text" v-model="user.userName" placeholder="用户名">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input">
					<input class="input100" type="password" v-model="user.pass" placeholder="密码">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
				</div>
				
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" @click="login()">
						登陆
					</button>
				</div>

				<div class="text-center p-t-12">
					
					<a class="txt2" href="javascript:">
						账号：snadmin	密码：snadmin<br/>
					</a>
				</div>

				<!-- <div class="text-center p-t-136">
					<a class="txt2" href="#">
							还没有账号？立即注册
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div> -->
			</div>
		</div>
	</div>
</div>

<script src="js/startup.js"></script>
<script src="js/axios.js"></script>
<script src="js/vue.js"></script>

<script>
	var vue = new Vue({
		el:"#app",
		data:{
			user:{
				userName:"snadmin",
				pass:"snadmin"
			}
		},
		created:function(){
			
		},
		methods:{
			login:function(){
				var json = {
					name:this.user.userName,
					password:this.user.pass
				};
				axios({
					method: "POST",
					url: urlConfig.identityUrl+"/sign-in",
					data: JSON.stringify(json),
					headers: {
						'Content-Type': 'application/json'
					}
					}).then(function (response) {
						var res = response.data;
						if(!res.isError){
							setToken(res.data.accessToken);
							location.href = "index.html";
						}
						else
							alert(res.message);

					}).catch(function (err) {
						var result = err.response;
						alert(result.data.message);
					});
			}
		}
	});
</script>
</body>
</html>